# something is bogus here, but NR knows not what
lua/osbf3
lua/osbf3.lua
lua/osbf3test
lua/osbf3test.lua
lua/osbftest
lua/osbftest.lua

handbuild/BUILD*
handbuild/mk.*-*
handbuild/mk.config
handbuild/configure.log

testing/trec06p

libosbf.so.*
libosbf3.so.*
lib.so.?.?.?
gmon.out
osbf-lua
mem-test
*.gcov
*.o
*.so
o*osbf*.c
*classify-time*
cachegrind.out.*
callgrind.out.*
*.prof
hr*-results
*.gcda
*.gcno
config.auto
depend
stamp-h1

.deps/
.libs/
*~
Makefile
Makefile.in
TAGS
autom4te.cache/
config.h
config.log
config.status
*.la
*.lo
libtool

testing/result.lua
testing/*-*.j



examples-autoconfed/count
examples-autoconfed/deltas
examples-autoconfed/dir-classify
examples-autoconfed/dir-train
examples-autoconfed/hand-labels
examples-autoconfed/label-by-hand
examples-autoconfed/low-prob
examples-autoconfed/msg-strings
examples-autoconfed/parse-message
examples-autoconfed/priors
examples-autoconfed/test-parser



osbf-lua-*.tar.gz
aclocal.m4
config.guess
config.sub
configure
